<div class="tracks--container">
    <header class="tracks--header">
        <h2>Title</h2>
        <h2>Listen</h2>
    </header>
    <div>
        <h2>{{this.name}}</h2>
        <audio>{{this.preview_url}}</audio>
    </div>
</div>